body{
    background-color: rgb(16, 222, 241);
    color: black;
   font-family: "Story Script", sans-serif;
   margin: 5px;
}

header{
    font-size: 56px;
    text-align: center;
border-bottom: double 5px black;
   /*margin: 30px*/
   padding: 30px;

    h1{
        font-size:25px;
    }
    p{
        font-size: px 30;
